html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-areas:
    "title td ."
    ". ga ."
    ". btns .";
  width: 100%;
  height: 100%;
}

.game-area {
  grid-area: ga;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  width: 100%;
  grid-template-areas:
    "s0 s1 s2"
    "s3 s4 s5"
    "s6 s7 s8";
  font-family: "Inspiration", cursive;
  font-size: 64px;
}
#square-0 {
  grid-area: s0;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
#square-1 {
  grid-area: s1;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

#square-2 {
  grid-area: s2;
  border-bottom: 1px solid black;
}
#square-3 {
  grid-area: s3;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
#square-4 {
  grid-area: s4;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

#square-5 {
  grid-area: s5;
  border-bottom: 1px solid black;
}

#square-6 {
  grid-area: s6;
  border-right: 1px solid black;
}
#square-7 {
  grid-area: s7;
  border-right: 1px solid black;
}
#square-8 {
  grid-area: s8;
}

.board div {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.buttons {
  grid-area: btns;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Dela Gothic One", cursive;
}

.turnDisplay {
  grid-area: td;
  display: flex;
  justify-content: center;
  align-items: end;
  margin-bottom: 20px;
  font-size: 28px;
  font-family: "Dela Gothic One", cursive;
}

.title {
  grid-area: title;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Dela Gothic One", cursive;
}
